
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 94%;
    --foreground: 240 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 10%;
    --primary: 240 60% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 10% 90%;
    --secondary-foreground: 240 60% 40%;
    --muted: 240 10% 90%;
    --muted-foreground: 240 10% 40%;
    --accent: 205 73% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 85%;
    --input: 240 10% 85%;
    --ring: 240 60% 40%;
    --radius: 0.75rem;
    --sidebar-background: 240 20% 92%;
    --sidebar-foreground: 240 10% 20%;
    --sidebar-primary: 240 60% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 85%;
    --sidebar-accent-foreground: 240 60% 40%;
    --sidebar-border: 240 10% 80%;
    --sidebar-ring: 240 60% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
